{{>boilerPlate}}
    <div class="container-fluid main_menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" id="navbar-brand" href="/">
              <i class="fa-solid fa-snowflake"> </i>
              Weather
              <i class="fa-solid fa-snowflake"></i></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {{>navbar}}
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Header area for home page start -->
    <div class="container main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="main__content">
            <form class="inp__form">
                <input type="text" name="searchingCity" id="searchingCity" placeholder="Enter City Name" autocomplete="off">
                <input type="submit" name="submitBtn" id="submitBtn" value="Search">
            </form>
          </div>

          <div class="tempInfo">
            <div class="top__layer">
                <p id="day">Sunday</p>
                <p id="date">Dummy</p>
            </div>

            <div class="content__layer">
                <p id="city__name">Get output here</p>
                <div class="middle__layer hide_data">
                    <p id="temp"><span id="temp__val">0</span><sup>o</sup>C</p>
                    <p id="temp__status"> <i class="fa-solid fa-cloud"></i> </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header area for home page end -->

    {{>footer}}
    <script src="js/main.js"></script>

    <script>
      const day = document.getElementById('day');
      const dummyDate = document.getElementById('date');

      // Function for getting the day
      const getCurrentDay = () => {
        let weekDay = new Array(7);
        weekDay[0] = "sunday";
        weekDay[1] = "Monday";
        weekDay[2] = "Tuesday";
        weekDay[3] = "Wednesday";
        weekDay[4] = "Thursday";
        weekDay[5] = "Friday";
        weekDay[6] = "Saturday";

        let curDay = new Date();

        day.innerText = weekDay[curDay.getDay()];
      };

      getCurrentDay();

      // function for getting month, date and time
      const getCurrentMonth = () => {

        // Get months in string
        const months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
        ];

        const date = new Date();
        const getCurDate = date.getDate();
        const month = months[date.getMonth()];

        dummyDate.innerText = `${getCurDate} ${month}`
      }

      getCurrentMonth();
    </script>
    </body>
</html>