<%- include('includes/head'); %>
  </head>
  <body>
    <%- include('includes/nav'); %>
    <main>
      <% if (prods.length > 0) { %>
        <h1 class="center">All Products</h1>
      <div class="grid">
        <% for(let product of prods) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1><%= product.title || "New Product"%></h1>
          </header>
          <div class="card__image">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbqa6TB1LIW9aYRgQPqZ5MjWDZS6p-vENLcw&usqp=CAU"
              alt="pexels"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$12</h2>
            <div class="product__description">A unique breakfast for you!</div>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1 class="center">No Product Found!!</h1>
      <% } %>
    </main>
    <%- include('includes/end'); %>
